<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Portfolio Website</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/pages.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grids.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
<!--   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet"> -->
<!--   <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
</head>

	<body>

    <header class="grid">

      <div class="logo-bar unit s-1">
        <h1 class="hidden name unit unit-s-1"><a href="{{site.baseurl}}/"><img class="unit unit-s-1" src="{{site.baseurl}}/img/wordmark.svg" alt="Dom Richichi"></a></h1>
      </div>
      
      <nav class="nav unit push text-center">
        
        <ol>
          <li class="pad-bottom-half"><a href="{{site.baseurl}}/">Portfolio</a></li>
          <li class="gutter pad-bottom-half"><a href="{{site.baseurl}}/about/">About</a></li>
          <li><a href="{{site.baseurl}}/contact/">Contact</a></li>
        </ol>
      
      </nav>

    </header>

    {{content}}

    <footer class="pad-top-double">
      <div class= "social-container">
        <a href="https://www.instagram.com/cultfather/"><img class="social" src="{{site.baseurl}}/img/insta.svg" alt="instagram link"></li></a>
        <a href="https://ca.linkedin.com/in/dom-richichi-31ba83ab"><img class="social" src="{{site.baseurl}}/img/linkdin.svg" alt="linkdin link"></li></a>
        <a href="https://www.behance.net/domrichichi"><img class="social" src="{{site.baseurl}}/img/behance.svg" alt="behance link"></li></a>
       </div> 
      <p class="unit unit-s-1 copyright pad-top micro">Copyright ©<strong>DomRichichi</strong></p>
    </footer>
	</body>
</html>